<div ng-controller="DemoCtrl as vm">
	<div class="jumbotron">
		<H1>{{vm.title}}</H1>
		<p>{{vm.description}}</p> 
	</div>
	
	<div class="row">
	
		<div class="col-lg-4">
			<div class="panel panel-info" >
			  <div class="panel-heading">{{models.dropZoneA.title}}</div>
			  <div rd-dnd-drop-zone="models.dropZoneA.content" class="panel-body">
			    	<div ng-repeat="item in models.dropZoneA.content"
			    		 rd-dnd-draggable="item" 
			    		 rd-dnd-draggable-index="$index" 
			    		 class="panel panel-success">
			    	  <div class="panel-heading">{{item.title}}</div>
					  <div class="panel-body">
					  		{{item.content}}
					  </div>
					</div>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-info">
			  <div class="panel-heading">{{models.dropZoneB.title}}</div>
			  <div rd-dnd-drop-zone="models.dropZoneB.content" class="panel-body">
			  	<div rd-dnd-draggable="item" 
			  		 rd-dnd-draggable-index="$index" 	
			  		 ng-repeat="item in models.dropZoneB.content" class="panel panel-success">
		    	  <div class="panel-heading">{{item.title}}</div>
				  <div class="panel-body">
				  	{{item.content}}
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-info">
			  <div class="panel-heading">{{models.dropZoneC.title}}</div>
			  <div rd-dnd-drop-zone="models.dropZoneC.content" class="panel-body">
			  	<div rd-dnd-draggable="item"
			  		 rd-dnd-draggable-index="$index" 	 
			  	     ng-repeat="item in models.dropZoneC.content" class="panel panel-success">
		    	  <div class="panel-heading">{{item.title}}</div>
				  <div class="panel-body">
				  	{{item.content}}
				  </div>
				</div>
			  </div>
			</div>
		</div>
		
	</div>
	
	<div class="row">
	<div class="panel panel-default">
         <div class="panel-heading">
             <h3 class="panel-title">Generated Model</h3>
         </div>
         <div class="panel-body">
             <pre class="code">{{vm.modelAsJson}}</pre>
         </div>
     </div>
</div>
	
</div>

